@model IEnumerable<BookListApp.Models.Book>

@{
    ViewData["Title"] = "Book List";
}

<div class="container mt-4 mb-5">
    <h1 class="mb-4">Book List</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="lead text-primary font-monospace fw-bold fs-5">List of some popular books.</p>
        <a href="/Books/Create" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Create New</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published Year</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.PublishedYear</td>
                </tr>
            }
        </tbody>

    </table>
</div>
